In [7]:
import pandas as pd
import cufflinks as cf
import plotly.plotly as py

py.sign_in('msheker', 'hwwqnp5rf8')

In [14]:
df = pd.read_csv("UCSD AS Funds 2016.csv")

#names = df["Section"]
#dfT = df.transpose()
#dfT.columns = names
#total = float(dfT["TOTAL FUNDS"])
#del dfT["TOTAL FUNDS"]
#for name in df.iterrows():
    #df["Percent"][name] = df["Amount"][name] / total
#df["Percent"] = df["Amount"]/total

df = df.drop(df.index[12])
df

                            Section      Amount
0                        Referendum  1226780.48
1                     Return to Aid  1031367.60
2                  Career Employees   694793.00
3           Office of the President    79000.00
4          Office of Campus Affairs  1128098.86
5     Office of Concerts and Events  1047200.00
6   Office of Finance and Resources   630862.09
7        Office of External Affairs   107350.00
8                           General    81794.02
9                    Administration   151279.67
10       Council and Senate Stipend   147657.33
11                  Remaining Funds     6489.81

In [20]:
#set
cf.set_config_file(world_readable=True,offline=False)
pie=cf.datagen.pie(11)
pie.head()

#enter correct values
pie["labels"] = df["Section"]
pie['values'] = df["Amount"]

pie.iplot(kind='pie',labels='labels',values='values',colorscale='RdBu', textposition='outside',textinfo = "value+percent")